@import "./src/styles/varibles";

.header {
  text-align: center;
  font-family: 'standard', serif;
  }
.header__big{
  font-size: 2em;
  }
 .header__secondary{
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0;
  }
  