@import "src/styles/varibles";

.pagination__button {
  background-color: white;
  @include button;
  font-size: 1.2em;
  border-radius: $border-radius;
  padding: 10px 15px;
  margin: 0.5em 0.5em 0 1em;
  width: 100px;
  box-shadow: 0 3px 5px grey;
  transition: opacity 0.2s;

  &--disable {
    opacity: 0.4;
  }
}
