@import "src/styles/varibles";

.option__button {
  background-color: $blacklike;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px 15px ;
  margin: 0.5em 0.5em 0 1em;
  transition: background-color 0.1s;
  &--active {
  background-color: $darkblue;
  }
}

.button__wrapper{
  display: inline-flex;
  flex-direction: column;
  align-content: baseline;
  justify-content: center;
  width: 200px;
  margin: 0.5em auto;
  text-align: center;
  @media (max-width: $sm) {
    width: 40vw;
  }

}
.button__caption{
  margin-top: 5px;
}