//breakpoitns
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

//fonts
@font-face {
  font-family: "standard";
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: "medium";
  src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: "semi-bold";
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: "bold";
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

// colors
$grey : #282828;
$black: black;
//colors one
$blue: #3500D3;
$blue-dark: #240090;
$blue-darker: #190061;
$blue-black: #0C0032;
$white : white;

//colors two
$blacklike: #0B0C10;
$greylike: #1F2833;
$greylight: #C5C6C7;
$lightblue: #66FCF1;
$darkblue: #45A29E;

//mixins
@mixin button {
  border: none;
  outline: none;
  cursor: pointer;
}

$border-radius: 5px

