@import "components/carCard/carCard";
@import "styles/varibles";

//Cool buttons
//https://codepen.io/kevinmiranda/pen/XwaopR

.button__center{
text-align: center;

}
.App{
  padding-bottom: 10em;
}

.pagination__holder{
text-align: center
}

.option__wrapper{
  height: 140px;
}