@import "components/carCard/carCard";
@import "styles/varibles";

.pagination__holder{
  text-align: center
}
.pick__section{
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.App{
  margin-bottom: 15em;
  overflow-x: hidden;
}
